@model FirstAspDotnetApp.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.CompanyName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-success">
    <p class="m-0">Féliciations !! Tu as réussi à déployer une application ASP.NET !</p>
</div>
